.categories__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px;
}

.categories__container__title {
  font-size: 2.5rem;
  margin: 20px auto;
  text-align: left;
  width: 100%;
}

.categories_container__list {
  list-style: none;
  padding: 0;
}

.categories__container__list__item {
  display: inline-block;
  margin: 0 10px;
}

.categories__container__list__item__edit {
  box-shadow: 0 0 10px 0 rgba(47, 55, 72, 0.5);
  background-color: #2f3748;
}

.categories__container__list__item:nth-child(1) img {
  content: url(../img/category1.jpg);
}

.categories__container__list__item:nth-child(2) img {
  content: url(../img/category2.jpg);
}
.categories__container__list__item:nth-child(3) img {
  content: url(../img/category3.jpg);
}

.categories__container__list__item__edit a {
  color: #61DAFB;
  text-decoration: none;
}

.categories__container__list__item__edit h1 {
  color: white;
}

.categories__container__list__item__edit__text {
  padding: 16px;
}
