.footer__container {
    width: 100%;
    text-align: center;
    padding: 2rem;
    margin-top: 60px;
    background-color: #16181d;
}

.footer__container p {
    color: white;
}

@media (max-width:768px){
    .footer__container {
        margin-top: 100px;
    }

}